

.not-selected-option {
    background-color: gainsboro;
    border: 1px solid grey;
    border-radius: 3px;
}

.wrong-selected-option {
    background-color: salmon;
    border: 1px solid red;
    border-radius: 3px;
}

.selected-option {
    background-color: aquamarine;
    border: 1px solid blue;
    border-radius: 3px;
}

.tag {
    cursor: pointer;
    border: 2px solid grey;
    display: inline;
    margin: 2px 4px 2px 0px;
    padding: 2px 6px ;
    border-radius: 10px;
}

.tag:hover {
    border: 2px solid black;
    background-color: darkgray;
}

.like {
    border: 1px solid blue;
    background-color: gainsboro;
    border-radius: 5px;
    padding: 2px 6px;
}

.like:hover {
    background-color: cornflowerblue;
    cursor: pointer;
}

.liked {
    border: 1px solid blue;
    border-radius: 5px;
    padding: 2px 6px;
    background-color: cornflowerblue;
}

.liked:hover {
    background-color: aqua;
    cursor: pointer;
}


.comment {
    border: 1px solid grey;
    margin: 4px 10px;
    padding: 4px 8px;
    background-color: aliceblue;
}

.follow-btn {
    border: 2px solid aliceblue;
    border-radius: 10px;
    margin: 4px 4px 4px 0px;
    padding: 4px 10px;
    background-color: aqua;
    cursor: pointer;
}

.no-link {
    text-decoration: none;
    color: inherit;
}

.no-link:hover{
    text-decoration: none;
    color: inherit;
}


.followed-btn {
    background-color: dimgrey;
}

.follow-btn:hover {
    background-color:cadetblue;
}

.toggle-btn {
    background-color: lightcyan;
    margin: 0px 4px;
    border-radius: 16px;
    padding: 4px 10px;
    cursor: pointer;
    margin: 4px 4px;
}

.toggle-btn:hover {
    background-color: aqua;
}

.toggle-btn-clicked {
    background-color: aqua;
}